		<span class="four wide column">
			<div class="ui form">
				<select [(ngModel)]="dateData.season_exists" (ngModelChange)="seasonModeChange($event)" name="season_mode">
					<option [value]="'no seasons'">No Seasons</option>
					<option [value]="'1 season 1 p'">1 season (1 period)</option>
					<option [value]="'1 season 2 p'">1 season (2 periods)</option>
					<option [value]="'2 seasons'">2 seasons</option>
				</select>
			</div>
		</span>

		<span class="twelve wide column margin-v-20">{{dateData.status}}</span>

		<date-bar class="sixteen wide column margin-v-20" [dateData]="dateData" [itemId]="itemId" (dateSliderUpdated)="dateSliderUpdated($event)"></date-bar>

		<div class="four wide column">
			<div class="ui styled accordion" style="width: 100%">
				<div class="title">
					<i class="dropdown icon"></i>
					Booking Info &nbsp;&nbsp;&nbsp;{{dateData.los}} Nights
				</div>
				<div class="ui content form">
					<div class="field">
						<div class="ui labeled input">
							<div class="ui label" style="width: 100px">
								Arrival
							</div>
							<input name="base price" disabled style="width: 50px" placeholder="Date" [(ngModel)]="dateData.booking_arrival" type="number">
						</div>
					</div>
					<div class="field">
						<div class="ui labeled input">
							<div class="ui label" style="width: 100px">
								Departure
							</div>
							<input name="base price" disabled style="width: 50px" placeholder="Date" [(ngModel)]="dateData.booking_departure" type="number">
						</div>
					</div>
					<div class="field">
						<div class="ui labeled input">
							<div class="ui label" style="width: 100px">
								Adults
							</div>
							<input name="base price" style="width: 50px" placeholder="$dollar" [(ngModel)]="postData.user_input.guests.adults" type="number">
						</div>
					</div>
					<div class="field">
						<div class="ui labeled input">
							<div class="ui label" style="width: 100px">
								Children
							</div>
							<input name="base price" style="width: 50px" placeholder="$dollar" [(ngModel)]="postData.user_input.guests.children" type="number">
						</div>
					</div>  					   					
				</div>
			</div>
   		</div>

   		<div class="twelve wide column">
   			<div class="ui styled accordion" style="width: 100%">
   				<div class="title">
   					<i class="dropdown icon"></i>
   					Property Tariff Info
   				</div>
   				<div class="ui content form">
   					<div class="field">
   						<div class="four fields">
   							<div class="field">
   								<label for="base price">Property Price</label>
   								<div class="ui labeled input">
   									<div class="ui label">
   										<i class="dollar icon"></i>
   									</div>
   									<input name="base price" placeholder="$dollar" [(ngModel)]="postData.tariff.base_nightly" type="number">
   								</div>
   							</div>
   							<div class="field">
   								<label for="booking fee">Booking Fee</label>
   								<div class="ui labeled input">
   									<div class="ui label">
   										<i class="dollar icon"></i>
   									</div>
   									<input name="booking fee" placeholder="$dollar" [(ngModel)]="postData.tariff.booking_fee" type="number">
   								</div>
   							</div>
   							<div class="field">
   								<label for="bond">Bond</label>
   								<div class="ui labeled input">
   									<div class="ui label">
   										<i class="dollar icon"></i>
   									</div>
   									<input name="bond" placeholder="$dollar" [(ngModel)]="postData.tariff.bond" type="number">
   								</div>
   							</div>                                 
   							<div class="field">
   								<label for="bond">Tax Rate</label>
   								<div class="ui labeled input">
   									<div class="ui label" style="width: 100px">
   										<i class="dollar icon"></i>
   									</div>
   									<input name="tax rate" style="width: 50px" placeholder="Tax Rate" [(ngModel)]="postData.tariff.test_scheme_override.tax" type="number">
   								</div>
   							</div>
   						</div>
   					</div>
   					<div class="field">
   						<div class="three fields">
   							<div class="field">
   								<label for="cleaning base">Cleaning Base</label>
   								<div class="ui labeled input">
   									<div class="ui label">
   										<i class="dollar icon"></i>
   									</div>
   									<input name="cleaning base" placeholder="$dollar" [(ngModel)]="postData.tariff.cpb" type="number">
   								</div>
   							</div>
   							<div class="field">
   								<label for="cleaning per block">Cleaning $/block</label>
   								<div class="ui labeled input">
   									<div class="ui label">
   										<i class="dollar icon"></i>
   									</div>
   									<input name="cleaning per block" placeholder="$dollar" [(ngModel)]="postData.tariff.cpd" type="number">
   								</div>
   							</div>
   							<div class="field">
   								<label for="cleaning day block">Cleaning days/block</label>
   								<div class="ui labeled input">
   									<div class="ui label">
   										<i class="calendar icon"></i>
   									</div>
   									<input name="cleaning day block" placeholder="number of days" [(ngModel)]="postData.tariff.cds" type="number">
   								</div>
   							</div>                                    
   						</div>
   					</div>
   					<div class="field">
   						<div class="six fields">
   							<div class="field">
   								<label for="guest min">Guest <br/>Min Number</label>
   								<div class="ui labeled input">
   									<div class="ui label">
   										<i class="users icon"></i>
   									</div>
   									<input name="guest min" placeholder="Min. Number" [(ngModel)]="postData.tariff.guest_min" type="number">
   								</div>
   							</div>
   							<div class="field">
   								<label for="guest max">Guest <br/>Max Number</label>
   								<div class="ui labeled input">
   									<div class="ui label">
   										<i class="users icon"></i>
   									</div>                                        
   									<input name="guest max" placeholder="Max. Number" [(ngModel)]="postData.tariff.guest_max" type="number">
   								</div>
   							</div>
   							<div class="field">
   								<label for="guest above">Adult Surchage Above</label>
   								<div class="ui labeled input">
   									<div class="ui label">
   										<i class="user icon"></i>
   									</div>   
   									<input name="guest above" placeholder="adults num" [(ngModel)]="postData.tariff.guest_above" type="number">
   								</div>
   							</div>         
   							<div class="field">
   								<label for="guest surcharge">Adult Surchage Amount</label>
   								<div class="ui labeled input">
   									<div class="ui label">
   										<i class="dollar icon"></i>
   									</div>                                         
   									<input name="guest surcharge" placeholder="$dollar" [(ngModel)]="postData.tariff.guest_surcharge" type="number">
   								</div>        
   							</div> 
   							<div class="field">
   								<label for="children above">Children Surchage Above</label>
   								<div class="ui labeled input">
   									<div class="ui label">
   										<i class="child icon"></i>
   									</div>                                         
   									<input name="children above" placeholder="children num" [(ngModel)]="postData.tariff.child_above" type="number">
   								</div>         
   							</div>         
   							<div class="field">
   								<label for="children surcharge">Children Surchage Amount</label>
   								<div class="ui labeled input">
   									<div class="ui label">
   										<i class="dollar icon"></i>
   									</div>                                         
   									<input name="children surcharge" placeholder="$dollar" [(ngModel)]="postData.tariff.child_surcharge" type="number">
   								</div>        
   							</div>                                                                                                                                                   
   						</div>
   					</div>                            
   				</div>     
   			</div>
   		</div>
   		<div class="sixteen wide column" [hidden]="dateData.season_exists =='no seasons'" style="">
   			<div class="ui styled accordion" style="width: 100%">
   				<div class="title">
   					<i class="dropdown icon"></i>
   					<span>Season 1</span> &nbsp;&nbsp;&nbsp;
   					<span>{{dateData.season1_start}} ~ {{dateData.season1_end}}</span>&nbsp;&nbsp;&nbsp;
   					<span *ngIf="dateData.season_exists =='1 season 2 p'">{{dateData.season2_start}} ~ {{dateData.season2_end}} </span>
   					<span class="season_base season-1" style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;</span>
   				</div>
   				<div class="ui content form" style="width: 100%">
   					<div class="four fields">
   						<div class="field">
   							<label for="price type">Price Type</label>
   							<div class="ui labeled input">
   								<select #nightly class="ui fluid search dropdown" [(ngModel)]="postData.tariff.group1_rate_type" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="'V'">Nightly Rate</option>
   									<option [value]="'F'">Factor</option>
   								</select>
   							</div>
   						</div>
   						<div class="field">
   							<label for="base price">Nightly Price/Factor</label>
   							<div class="ui labeled input">
   								<div class="ui label">
   									<i class="icon" [ngClass]="nightly.value=='F'?'asterisk':'dollar'"></i>
   								</div>
   								<input name="base price" [placeholder]="nightly.value == 'F'?'Enter Rate, e.g. 1.1':'$dollar'" [(ngModel)]="postData.tariff.group1_nightly" type="number">
   							</div>
   						</div>
   						<div class="field">
   							<label for="base price">Optional Weekly</label>
   							<div class="ui labeled input">
   								<div class="ui label">
   									<i class="dollar icon"></i>
   								</div>
   								<input name="base price" placeholder="$dollar" [(ngModel)]="postData.tariff.group1_optional_weekly" type="number">
   							</div>
   						</div>
   						<div class="field">
   							<label for="price type">Pro rata use</label>
   							<div class="ui labeled input">
   								<select class="ui fluid search dropdown" [(ngModel)]="postData.tariff.group1_perrata_type" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="'PW'">Optional Weekly÷7</option>
   									<option [value]="'PN'">Use Nightly Rate</option>
   								</select>
   							</div>
   						</div>
   					</div>
   					<div class="ui divider"></div>
   					<div class="five fields">
   						<div class="field">
   							<label for="price type">Apply Rule 1</label>
   							<div class="ui labeled input">
   								<select class="ui fluid search dropdown" [(ngModel)]="postData.rules.group1_adaysid_item1" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="''">No Rule</option>
   									<option [value]="'RULE 1'">Apply Rule 1</option>
   								</select>
   							</div>
   						</div>
   						<div class="field">
   							<label for="price type">Condition</label>
   							<div class="ui labeled input">
   								<select class="ui fluid search dropdown" [(ngModel)]="postData.rules.group1_adaysm_item1" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="'L'">Less than</option>
   									<option [value]="'M'">More than</option>
   									<option [value]="'E'">Equal to</option>
   									<option [value]="'B'">Blocks Only</option>
   									<option [value]="'b'">Blocks/pro rata</option>
   									<option [value]="'E5'">5 Nights Stay</option>
   									<option [value]="'D'">Days of Week</option>
   								</select>
   							</div>
   						</div>
   						<div class="field">
   							<label for="base price">Days/DoW</label>
   							<div class="ui labeled input">
   								<div class="ui label">
   									<i class="calendar icon"></i>
   								</div>
   								<input name="base price"  [placeholder]="postData.rules.group1_adaysm_item1=='D'?'Days of Week':'Number of Days'"  [(ngModel)]="postData.rules.group1_adaysn_item1" type="number">
   							</div>
   						</div>
   						<div class="field">
   							<label for="price type">Action</label>
   							<div class="ui labeled input">
   								<select #action class="ui fluid search dropdown" [(ngModel)]="postData.rules.group1_adaysc_item1" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="'A'">Add Sum</option>
   									<option [value]="'F'">Apply Factor</option>
   									<option [value]="'P'">Force Price</option>
   								</select>
   							</div>
   						</div>
   						<div class="field">
   							<label for="base price">Action Value</label>
   							<div class="ui labeled input">
   								<div class="ui label">
   									<i class="icon" [ngClass]="action.value=='F'?'asterisk':'dollar'"></i>
   								</div>
   								<input name="base price"  [placeholder]="action.value=='F'?'Factor value':'Price'"  [(ngModel)]="postData.rules.group1_adaysv_item1" type="number">
   							</div>
   						</div>
   					</div>
   					<div class="ui divider"></div>
   					<div class="five fields">
   						<div class="field">
   							<label for="price type">Apply Rule 2</label>
   							<div class="ui labeled input">
   								<select class="ui fluid search dropdown" [(ngModel)]="postData.rules.group1_adaysid_item2" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="''">No Rule</option>
   									<option [value]="'RULE 2'">Apply Rule 2</option>
   								</select>
   							</div>
   						</div>
   						<div class="field">
   							<label for="price type">Condition</label>
   							<div class="ui labeled input">
   								<select class="ui fluid search dropdown" [(ngModel)]="postData.rules.group1_adaysm_item2" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="'L'">Less than</option>
   									<option [value]="'M'">More than</option>
   									<option [value]="'E'">Equal to</option>
   									<option [value]="'B'">Blocks Only</option>
   									<option [value]="'b'">Blocks/pro rata</option>
   									<option [value]="'E5'">5 Nights Stay</option>
   									<option [value]="'D'">Days of Week</option>
   								</select>
   							</div>
   						</div>
   						<div class="field">
   							<label for="base price">Days/DoW</label>
   							<div class="ui labeled input">
   								<div class="ui label">
   									<i class="calendar icon"></i>
   								</div>
   								<input name="base price"  [placeholder]="postData.rules.group1_adaysm_item2=='D'?'Days of Week':'Number of Days'"  [(ngModel)]="postData.rules.group1_adaysn_item2" type="number">
   							</div>
   						</div>
   						<div class="field">
   							<label for="price type">Action</label>
   							<div class="ui labeled input">
   								<select #action class="ui fluid search dropdown" [(ngModel)]="postData.rules.group1_adaysc_item2" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="'A'">Add Sum</option>
   									<option [value]="'F'">Apply Factor</option>
   									<option [value]="'P'">Force Price</option>
   								</select>
   							</div>
   						</div>
   						<div class="field">
   							<label for="base price">Action Value</label>
   							<div class="ui labeled input">
   								<div class="ui label">
   									<i class="icon" [ngClass]="action.value=='F'?'asterisk':'dollar'"></i>
   								</div>
   								<input name="base price"  [placeholder]="action.value=='F'?'Factor value':'Price'"  [(ngModel)]="postData.rules.group1_adaysv_item2" type="number">
   							</div>
   						</div>
   					</div>
   				</div>
   			</div>
   		</div>

   		<div class="sixteen wide column" [hidden]="dateData.season_exists != '2 seasons' ">
   			<div class="ui styled accordion" style="width: 100%">
   				<div class="title">
   					<i class="dropdown icon"></i>
   					Season 2 &nbsp;&nbsp;&nbsp;{{dateData.season2_start}} ~ {{dateData.season2_end}} 
   					<span class="season_base season-2" style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;</span>
   				</div>
   				<div class="ui content form" style="width: 100%">
				   	<div class="four fields">
   						<div class="field">
   							<label for="price type">Price Type</label>
   							<div class="ui labeled input">
   								<select #nightly class="ui fluid search dropdown" [(ngModel)]="postData.tariff.group2_rate_type" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="'V'">Nightly Rate</option>
   									<option [value]="'F'">Factor</option>
   								</select>
   							</div>
   						</div>
   						<div class="field">
   							<label for="base price">Nightly Price/Factor</label>
   							<div class="ui labeled input">
   								<div class="ui label">
   									<i class="icon" [ngClass]="nightly.value=='F'?'asterisk':'dollar'"></i>
   								</div>
   								<input name="base price" [placeholder]="nightly.value == 'F'?'Enter Rate, e.g. 1.1':'$dollar'" [(ngModel)]="postData.tariff.group2_nightly" type="number">
   							</div>
   						</div>
   						<div class="field">
   							<label for="base price">Optional Weekly</label>
   							<div class="ui labeled input">
   								<div class="ui label">
   									<i class="dollar icon"></i>
   								</div>
   								<input name="base price" placeholder="$dollar" [(ngModel)]="postData.tariff.group2_optional_weekly" type="number">
   							</div>
   						</div>
   						<div class="field">
   							<label for="price type">Pro rata use</label>
   							<div class="ui labeled input">
   								<select class="ui fluid search dropdown" [(ngModel)]="postData.tariff.group2_perrata_type" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="'PW'">Optional Weekly÷7</option>
   									<option [value]="'PN'">Use Nightly Rate</option>
   								</select>
   							</div>
   						</div>
   					</div>
   					<div class="ui divider"></div>
   					<div class="five fields">
   						<div class="field">
   							<label for="price type">Apply Rule 1</label>
   							<div class="ui labeled input">
   								<select class="ui fluid search dropdown" [(ngModel)]="postData.rules.group2_adaysid_item1" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="''">No Rule</option>
   									<option [value]="'RULE 1'">Apply Rule 1</option>
   								</select>
   							</div>
   						</div>
   						<div class="field">
   							<label for="price type">Condition</label>
   							<div class="ui labeled input">
   								<select class="ui fluid search dropdown" [(ngModel)]="postData.rules.group2_adaysm_item1" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="'L'">Less than</option>
   									<option [value]="'M'">More than</option>
   									<option [value]="'E'">Equal to</option>
   									<option [value]="'B'">Blocks Only</option>
   									<option [value]="'b'">Blocks/pro rata</option>
   									<option [value]="'E5'">5 Nights Stay</option>
   									<option [value]="'D'">Days of Week</option>
   								</select>
   							</div>
   						</div>
   						<div class="field">
   							<label for="base price">Days/DoW</label>
   							<div class="ui labeled input">
   								<div class="ui label">
   									<i class="calendar icon"></i>
   								</div>
   								<input name="base price"  [placeholder]="postData.rules.group2_adaysm_item1=='D'?'Days of Week':'Number of Days'"  [(ngModel)]="postData.rules.group2_adaysn_item1" type="number">
   							</div>
   						</div>
   						<div class="field">
   							<label for="price type">Action</label>
   							<div class="ui labeled input">
   								<select #action2 class="ui fluid search dropdown" [(ngModel)]="postData.rules.group2_adaysc_item1" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="'A'">Add Sum</option>
   									<option [value]="'F'">Apply Factor</option>
   									<option [value]="'P'">Force Price</option>
   								</select>
   							</div>
   						</div>
   						<div class="field">
   							<label for="base price">Action Value</label>
   							<div class="ui labeled input">
   								<div class="ui label">
   									<i class="icon" [ngClass]="action2.value=='F'?'asterisk':'dollar'"></i>
   								</div>
   								<input name="base price"  [placeholder]="action2.value=='F'?'Factor value':'Price'"  [(ngModel)]="postData.rules.group2_adaysv_item1" type="number">
   							</div>
   						</div>
   					</div>
   					<div class="ui divider"></div>
   					<div class="five fields">
   						<div class="field">
   							<label for="price type">Apply Rule 2</label>
   							<div class="ui labeled input">
   								<select class="ui fluid search dropdown" [(ngModel)]="postData.rules.group2_adaysid_item2" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="''">No Rule</option>
   									<option [value]="'RULE 2'">Apply Rule 2</option>
   								</select>
   							</div>
   						</div>
   						<div class="field">
   							<label for="price type">Condition</label>
   							<div class="ui labeled input">
   								<select class="ui fluid search dropdown" [(ngModel)]="postData.rules.group2_adaysm_item2" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="'L'">Less than</option>
   									<option [value]="'M'">More than</option>
   									<option [value]="'E'">Equal to</option>
   									<option [value]="'B'">Blocks Only</option>
   									<option [value]="'b'">Blocks/pro rata</option>
   									<option [value]="'E5'">5 Nights Stay</option>
   									<option [value]="'D'">Days of Week</option>
   								</select>
   							</div>
   						</div>
   						<div class="field">
   							<label for="base price">Days/DoW</label>
   							<div class="ui labeled input">
   								<div class="ui label">
   									<i class="calendar icon"></i>
   								</div>
   								<input name="base price"  [placeholder]="postData.rules.group2_adaysm_item2=='D'?'Days of Week':'Number of Days'"  [(ngModel)]="postData.rules.group2_adaysn_item2" type="number">
   							</div>
   						</div>
   						<div class="field">
   							<label for="price type">Action</label>
   							<div class="ui labeled input">
   								<select #action class="ui fluid search dropdown" [(ngModel)]="postData.rules.group2_adaysc_item2" (ngModelChange)="seasonRateUpdate($event)" name="season_mode">
   									<option [value]="'A'">Add Sum</option>
   									<option [value]="'F'">Apply Factor</option>
   									<option [value]="'P'">Force Price</option>
   								</select>
   							</div>
   						</div>
   						<div class="field">
   							<label for="base price">Action Value</label>
   							<div class="ui labeled input">
   								<div class="ui label">
   									<i class="icon" [ngClass]="action.value=='F'?'asterisk':'dollar'"></i>
   								</div>
   								<input name="base price"  [placeholder]="action.value=='F'?'Factor value':'Price'"  [(ngModel)]="postData.rules.group2_adaysv_item2" type="number">
   							</div>
   						</div>
   					</div>
   				</div>
   			</div>
   		</div>
